*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(60, 60, 60);
    color: aqua;
    font-size: 35px;
    padding: 20px;
}
.navbar ul{
    list-style-type: none;
    padding: 20px;
display: flex;
}
.navbar li{
    padding: 20px;
    font-size: 35px;
}
main{
    font-size: 30px;
    
}
.text{
    font-size: 40px;
    padding: 50px;

animation: fade 10s infinite;
}
@keyframes fade{
    0%{opacity: 0}
    50%{opacity: 1;}
    100%{opacity: 0;}
}