*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(60, 60, 60);
    color: aqua;
    font-size: 35px;
    padding: 20px;
}
.navbar ul{
    list-style-type: none;
    padding: 20px;
display: flex;
}
.navbar li{
    top: -5px;
    width: 60px;
    height: 35px;
    background-color: transparent;
    padding-top: 3px;
    font-size: 35px;
}
main{
    font-size: 30px;
    
}
.text{
    font-size: 40px;
    padding: 50px;

animation: fade 10s infinite;
}
@keyframes fade{
    0%{opacity: 0}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .container {
    padding: 1rem 1rem 1.5rem;
  }
  

  
  .stage {
    max-width: 400px;
    width: 400px;
    margin: 0 auto;
  }
  
 